.drivy
{
	text-align: center;
	font-size: 120px;
	color:white;
	font-family:"Arial Rounded MT";
	
}
#car
{
	
	margin-left: 250px;
	max-width: 500px;
}
#rental
{
	margin-left: 250px;
	max-width: 500px;
}
#compute
{
	position:relative;
	top:50px;
	margin-left: 400px;
	max-width: 500px;
}
#actors
{
	position:relative;
	top:80px;
	margin-left: 400px;
	max-width: 500px;
}

.act
{
	color : black;
	text-align:bottom,left;
	font-size: 25px;
	font-weight:normal;
	font-family: "Calibri";
	
}

.bouton
{
	
	background-color: #737b7b; /* Green */
    border: 2px solid black;
	border-radius: 4px;
    color: white;  
    text-align: center;
    text-decoration: none;
    padding:10px 38px;
    font-size: 16px;
}

.bouton:hover
{
	background-color: #cad1d1; /* Green */
    border: 2px solid black;
	border-radius: 4px;
    color: black;  
    text-align: center;
    text-decoration: none;
    padding:10px 38px;
    font-size: 16px;
	
}

.model
{
	color : blue;
    border: 2px solid black;
    border-radius: 4px;
	text-align: center;
	
}
.price-by-day
{
	color : blue;
    border: 2px solid black;
    border-radius: 4px;
	text-align: center;
	
}

.price-by-km
{
	color : blue;
    border: 2px solid black;
    border-radius: 4px;
	text-align: center;
	
}

.begin
{
	color : blue;
    border: 2px solid black;
    border-radius: 4px;
	text-align: center;
	
}

.end
{
	color : blue;
    border: 2px solid black;
    border-radius: 4px;
	text-align: center;
	
}

.distance
{
	color : blue;
    border: 2px solid black;
    border-radius: 4px;
	text-align: center;
	
}




body 
{
	background-image:url("imagesite3.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	margin-right: 300px;
	margin-left: 300px
}






